<h1><strong><%= title %></strong></h1>
<% if (spending_categories_list.length) { %>
    <dl>
        <% spending_categories_list.forEach(function(spending_category) { %>
            <dt>
                <a href="<%= spending_category.url %>"><%= spending_category.name %></a>
            </dt>
        <% }); %>
    </dl>
<% } else { %>
    <p>There are no spending categories.</p>
<% } %>