<h1><%= title %></h1>
<% if (spending_categories_list.length) { %>
    <ul>
        <% spending_categories_list.forEach(function(spending_category) { %>
            <li class="spending_category">
                <strong><a href="<%= spending_category.url %>"><%= spending_category.name %></a></strong>
                </p>
            </li>
        <% }); %>
    </ul>
<% } else { %>
    <p>There are no spending categories.</p>
<% } %>