<h1><strong><%= title %></strong></h1>
<% if (store_list.length) { %>
    <dl>
        <% store_list.forEach(function(store) { %>
            <dt>
                <a href="<%= store.url %>"><%= store.name %></a>
            </dt>
        <% }); %>
    </dl>
<% } else { %>
    <p>There are no stores.</p>
<% } %>